<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a href="/Admin/Dashboard/Index" class="waves-effect font-weight-bold">
                        <i class="icon-graph-rising text-success"></i><span> Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Supplier/Index" class="waves-effect font-weight-bold">
                        <i class="fas fa-warehouse"></i><span> Quản lý nhà cung cấp</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ProductCategory/Index" class="waves-effect font-weight-bold">
                        <i class="fas fa-laptop-code" style="color:#fffa65"></i><span> Quản lý loại sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Product/Index" class="waves-effect font-weight-bold">
                        <i class="fas fa-bicycle" style="color:#fd79a8"></i><span> Quản lý sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Order/Index" class="waves-effect font-weight-bold">
                        <i class="icon-shopping-cart" style="color:#00d2d3"></i><span> Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/PostCategory/Index" class="waves-effect font-weight-bold">
                        <i class="far fa-paper-plane" style="color:#e1b12c"></i><span> Quản lý loại tin tức</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Post/Index" class="waves-effect font-weight-bold">
                        <i class="far fa-newspaper" style="color:#55efc4"></i><span> Quản lý tin tức</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/User/Index" class="waves-effect font-weight-bold">
                        <i class="icon-profile text-warning"></i><span> Quản lý tài khoản</span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
